{% extends 'CGCuddleBundle::layout.html.twig' %}

{% block title %}
    Modifier une catégorie - {{ parent() }}
{% endblock %}

{% block cgcuddle_main %}
    <h2>Modifier une catégorie</h2>

    {% include 'CGCuddleBundle:Category:form.html.twig' %}
{% endblock %}