{% extends 'CGCuddleBundle::layout.html.twig' %}

{% block title %}
    Gérer ses abonnements - {{ parent() }}
{% endblock %}

{% block cgcuddle_main %}
    <h2>Gérer ses abonnements</h2>
    
    {% include 'CGCuddleBundle:Category:form.html.twig' %}
{% endblock %}